build/
dist/
*.exe
*.spec
*.onefile-build/      # sometimes created

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp

venv/
.venv/
env/
ENV/

# OS-specific junk
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

RS-Dragonwilds Editor.zip
RS-Dragonwilds Editor/save_editor.exe
*.bak

# Keep these in the repo (do NOT ignore)
# !data/ItemID.json
# !save_editor.py

!save_editor.py
!IDscan.py
!UpdateIcons.py
!CleanToItemJsons.py
!UpdateAll.bat
